div#menu-wrapper{ width: 100%; }
div#menu-wrapper .navbar ul.nav li a{
    line-height: 32px;
    color: #34495e;
    font-size: 16px;
    padding: 15px 21px;
    font-weight: 700;
}
div#menu-wrapper .navbar ul.nav li div.dropdown{ padding-top: 15px; padding-right: 10px; }
div#menu-wrapper .navbar ul.nav li a img{ width: 32px; height: 32px; }

div.dropdown{ padding-bottom: 15px; }
div.dropdown span.navbar-new{ top: 35%; right: 22px; }
div.dropdown li.more-elements a{ text-align: right; }


div#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    overflow: hidden;
}

div#wrapper div.ui-block{
    width: 48%;
    float: left;
    text-align: center;
    display: none;
    cursor: pointer;
}

div#wrapper .top-block{ text-align: left; }

div#wrapper div.ui-block.active{ width: 90%; height: 100%!important;}

div#wrapper div.ui-block span.ui-block-title{
    display:inline-block;
    padding-top: 30%;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
    cursor: pointer;
}

div#wrapper div.ui-block-body{
    width: 90%;
    height: 100%!important;
    display: none;
    background-image: url('../images/challenge_background.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
}

div#wrapper div#browse-block-body{
    background-image: url('../images/browse_background.png');
}

div#wrapper div.ui-block-body div.form-wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

div#wrapper div.ui-block-body div.form-wrapper form > div{ padding: 15px; }

div#wrapper div#browse-block-body div.form-wrapper div.form-group{ display: inline-block; width: 50%;}
div#wrapper div#browse-block-body div.form-wrapper form input{ display: inline; }
div#wrapper div#browse-block-body div.form-wrapper form div.btn-group{ vertical-align: top; padding-top: 15px;}
div#wrapper div.form-wrapper div.common-table-wrapper{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: url('../images/challenges_search_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #bdc3c7;
}
div#wrapper div.form-wrapper div.common-table-wrapper table{ width: 100%; }
div#wrapper div.form-wrapper div.common-table-wrapper table thead tr{ border-bottom: 2px solid #bdc3c7; }
div#wrapper div.form-wrapper div.common-table-wrapper table thead tr th{ padding-bottom: 10px; }
div#wrapper div.form-wrapper div.common-table-wrapper table th{ text-align: center; }
div#wrapper div.form-wrapper div.common-table-wrapper table td{ padding-top: 10px; text-align: center; overflow-x: hidden; }
div#wrapper div.form-wrapper div.common-table-wrapper table td img{ margin-right: 10px; }
div#wrapper div.form-wrapper div.common-table-wrapper table td.profilePicTd img{ width: 32px; height: 32px;}

div#wrapper div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(1) div{ width: 160px; }
div#wrapper div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(2) div{ width: 160px; }
div#wrapper div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(3) div{ width: 100px; }
div#wrapper div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(4) div{ width: 100px; }
div#wrapper div.form-wrapper div.challenge-search-results table td:nth-of-type(1),
div#wrapper div.form-wrapper div.challenge-search-results table td:nth-of-type(2){ text-align: left; }

div#wrapper div#challenge-block-body div.form-wrapper{ width: 75%; }
div#wrapper div.ui-block-body div.form-wrapper div.challenge-name-wrapper{ padding: 5px; }
div#wrapper div.ui-block-body div.form-wrapper div.challenge-name-wrapper input{ width: 80%; margin-left: auto; margin-right: auto; }

div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper > div{ display: inline-block; }
div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper div#video-input-wrapper{  }
div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper div#video-screenshot{ cursor: pointer; font-size: 28px; font-weight: bold; overflow: hidden; vertical-align: middle; }
div#wrapper div.ui-block-body div.form-wrapper div#video-input-wrapper{ display: none;}
div#wrapper div.ui-block-body div.form-wrapper input[type="file"]{ display: none;}

div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper, div#wrapper div#my-challenges-body .challenge-events, div#wrapper div#my-challenges-body #video-panel, div#wrapper div#my-challenges-body #send-response-wrapper{
    position: absolute;
    top: 100px;
    right: 20px;
    width: 25%;
    height: 80%;
    background: url('../images/challenges_search_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #bdc3c7;
    display: none;
    overflow: auto;
    z-index: 100;
}
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants{ list-style-type: none; text-align: left; padding-left: 10px; }
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants li img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants li .switch{
    vertical-align: middle;
    margin-left: 15px;
}
div#wrapper div.form-wrapper div.challenge-participants-wrapper table td:nth-of-type(1){ text-align: left; }

div#wrapper div.single-body-block{
    height: 90%!important;
    padding-top: 2%;
    padding-left: 2%;
    margin: 20px auto 0px auto;
}
div#wrapper div.single-body-block h2{ text-align: center; }
div#wrapper div#profile-body div#profile-wrapper{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 700;
    width: 70%;
    padding-bottom: 25%;
}
div#wrapper div#profile-body{ background: url('../images/challenges_search_bg.png') repeat; border-radius: 20px; border: 2px solid #bdc3c7; width: 70%;}
div#wrapper div#profile-body div#profile-data, div#wrapper div#profile-body div#profile-stats{ display: inline-block; padding-top: 20px; }
div#wrapper div#profile-body div#profile-stats{ vertical-align: top; }
div#wrapper div#profile-body div#profile-stats ul{ list-style-type: none; }
div#wrapper div#profile-body div#profile-data{ text-align: center; }
div#wrapper div#profile-body div#profile-data img{ display: block; }

div#wrapper div#my-challenges-body{ margin-top: 0px; background-image: url('../images/challenge_background.jpg'); background-size: 100% 100%; width: 90%; padding: 5%; }
div#wrapper div#my-challenges-body .challenges-wrapper{ margin-top: 5%; margin-bottom: 5%; }
div#wrapper div#my-challenges-body .challenge-tabs{ margin-left: 5%; position: relative; }
div#wrapper div#my-challenges-body .challenge-tabs ul{ margin: 0px; position: absolute; bottom: 0px; }
div#wrapper div#my-challenges-body .challenge-tabs ul li{ display: inline-block; }
div#wrapper div#my-challenges-body .challenge-tabs button{ margin-right: 5px; }
div#wrapper div#my-challenges-body .challenge-tabs li#created-tab button.selected{ background: url('../images/challenges_created_bg.png') repeat top left; }
div#wrapper div#my-challenges-body .challenge-tabs li#participating-tab button.selected{ background: url('../images/challenges_participating_bg.png') repeat top left; }
div#wrapper div#my-challenges-body .challenge-tabs li#completed-tab button.selected{ background: url('../images/challenges_completed_bg.png') repeat top left; }
div#wrapper div#my-challenges-body .challenge-tabs button.selected{ border: 2px solid #bdc3c7; border-bottom: none;}
div#wrapper div#my-challenges-body .challenges-body{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    background: url('../images/challenges_created_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
}

div#wrapper div#my-challenges-body .challenges-body table{
    text-align: center;
    width: 100%;
}
div#wrapper div#my-challenges-body .challenges-body table th{ text-align: center; }
div#wrapper div#my-challenges-body #challenges-created table tbody td div.switch .switch-on,
    div#wrapper div#my-challenges-body #challenges-created table tbody td div.switch .switch-off{ width: 175px; }
div#wrapper div#my-challenges-body #challenges-created table tbody td div.switch{ width: 100px;  -webkit-mask: url('../images/switch/mask-long.png') 0 0 no-repeat; mask: url('../images/switch/mask-long.png') 0 0 no-repeat; }
div#wrapper div#my-challenges-body #challenges-created table tbody td div.switch .switch-off{ left: -72px; }
div#wrapper div#my-challenges-body #challenges-created table tbody td a{ color: #34495e; font-weight: 900; }

div#wrapper div#my-challenges-body #challenges-participating{ background: url('../images/challenges_participating_bg.png') repeat; display: none; }
div#wrapper div#my-challenges-body #challenges-participating table td{ padding: 5px; }

div#wrapper div#my-challenges-body #challenges-completed{ background: url('../images/challenges_completed_bg.png') repeat; display: none; }

div#wrapper div#my-challenges-body .challenge-events{ width: 30%; }
div#wrapper div#my-challenges-body .challenge-events div{ text-align: center; }
div#wrapper div#my-challenges-body .challenge-events #responses-div > div{ padding: 15px; }
div#wrapper div#my-challenges-body .challenge-events #responses-div > div .accept-response{ margin-left: 30px; }
div#wrapper div#my-challenges-body .challenge-events #responses-div > div img{ display: block; margin-left: auto; margin-right: auto; height: 194px; width: 254px; }
div#wrapper div#my-challenges-body #video-panel{ right: 32%; width: 50%; height: 500px; margin-top: 5%; }
div#wrapper div#my-challenges-body #send-response-wrapper{ right: 30%; width: 42%; height: 450px; margin-top: 10%; padding: 25px; text-align: center; }
div#wrapper div#my-challenges-body #send-response-wrapper form > div{ padding: 15px; }
div#wrapper div#my-challenges-body #send-response-wrapper form dt, div#wrapper div#my-challenges-body #send-response-wrapper form dd{ height: 20px; }

.close-window-div, .close-window-upper-div{ display: inline-block; float: right;  }
.title-div { display: inline-block; text-align: center; width: 80%; margin-bottom: 20px; }
.title-div span { line-height: 48px; font-size: 20px; font-weight: 700;}

div#wrapper div#my-challenges-body #video-panel .upper-div{ height: 60px; }
div#wrapper div#my-challenges-body #video-panel .close-window-div{ margin-bottom: 5%; }
div#wrapper div#my-challenges-body #video-panel .video-js{ display: block; margin-left: auto; margin-right: auto; }

div#wrapper div.form-wrapper div.user-notification-wrapper{ height: 500px; }
div#wrapper div.form-wrapper div.user-notification-wrapper table thead tr th:nth-of-type(2) div{ width: 180px; }

div#menu-wrapper .navbar ul.nav li a.notificationUnread, a.notificationUnread{ padding-left: 10px; }
div#menu-wrapper .navbar ul.nav li a.notificationUnread img{ margin-right : 5px; }

.notificationUnread{ font-weight: 800!important; }

.palette-nephritis:hover{ background-color: #2ECC71; }
.palette-belize-hole:hover{ background-color: #3498DB; }
.palette-pumpkin:hover{ background-color: #E67E22;}
.palette-midnight-blue:hover{ background-color: #34495E;}