div#menu-wrapper{ width: 100%; }
div#menu-wrapper .navbar ul.nav li a{ line-height: 32px; }

div#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    overflow: hidden;
}

div#wrapper div.ui-block{
    width: 48%;
    float: left;
    text-align: center;
    display: none;
    cursor: pointer;
}

div#wrapper .top-block{ text-align: left; }

div#wrapper div.ui-block.active{ width: 90%; height: 100%!important;}

div#wrapper div.ui-block span.ui-block-title{
    display:inline-block;
    padding-top: 30%;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
    cursor: pointer;
}

div#wrapper div.ui-block-body{
    width: 90%;
    height: 100%!important;
    display: none;
    background-image: url('../images/challenge_background.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
}

div#wrapper div#browse-block-body{
    background-image: url('../images/browse_background.png');
}

div#wrapper div.ui-block-body div.form-wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

div#wrapper div.ui-block-body div.form-wrapper form > div{ padding: 15px; }

div#wrapper div#browse-block-body div.form-wrapper div.form-group{ display: inline-block; width: 50%;}
div#wrapper div#browse-block-body div.form-wrapper form input{ display: inline; }
div#wrapper div#browse-block-body div.form-wrapper form div.btn-group{ vertical-align: top; padding-top: 15px;}
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: url('../images/challenges_search_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #bdc3c7;
}

div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table{ width: 100%; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr{ border-bottom: 2px solid #bdc3c7; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr th{ padding-bottom: 10px; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(1) div{ width: 160px; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(2) div{ width: 160px; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(3) div{ width: 100px; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table thead tr th:nth-of-type(4) div{ width: 100px; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table th{ text-align: center; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td{ padding-top: 10px; text-align: center; overflow-x: hidden; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td:nth-of-type(1),
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td:nth-of-type(2){ text-align: left; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td img{ margin-right: 10px; }

div#wrapper div#challenge-block-body div.form-wrapper{ width: 75%; }
div#wrapper div.ui-block-body div.form-wrapper div.challenge-name-wrapper{ padding: 5px; }
div#wrapper div.ui-block-body div.form-wrapper div.challenge-name-wrapper input{ width: 80%; margin-left: auto; margin-right: auto; }

div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper > div{ display: inline-block; }
div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper div#video-input-wrapper{  }
div#wrapper div.ui-block-body div.form-wrapper div#video-upload-wrapper div#video-screenshot{ cursor: pointer; font-size: 28px; font-weight: bold; overflow: hidden; vertical-align: middle; }
div#wrapper div.ui-block-body div.form-wrapper div#video-input-wrapper{ display: none;}
div#wrapper div.ui-block-body div.form-wrapper input[type="file"]{ display: none;}

div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper{
    position: absolute;
    top: 100px;
    right: 20px;
    width: 25%;
    height: 80%;
    background: url('../images/challenges_search_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #bdc3c7;
    display: none;
    overflow: auto;
}
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants{ list-style-type: none; text-align: left; padding-left: 10px; }
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants li img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
div#wrapper div#challenge-block-body div.form-wrapper div#challenge-participants-wrapper div.challenge-participants-div ul#challenge-participants li .switch{
    vertical-align: middle;
    margin-left: 15px;
}

.palette-nephritis:hover{ background-color: #2ECC71; }
.palette-belize-hole:hover{ background-color: #3498DB; }
.palette-pumpkin:hover{ background-color: #E67E22;}
.palette-midnight-blue:hover{ background-color: #34495E;}