div#menu-wrapper{ width: 100%; }

div#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    overflow: hidden;
}

div#wrapper div.ui-block{
    width: 48%;
    float: left;
    text-align: center;
    display: none;
    cursor: pointer;
}

div#wrapper .top-block{ text-align: left; }

div#wrapper div.ui-block.active{ width: 90%; height: 100%!important;}

div#wrapper div.ui-block span.ui-block-title{
    display:inline-block;
    padding-top: 30%;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
    cursor: pointer;
}

div#wrapper div.ui-block-body{
    width: 90%;
    height: 100%!important;
    display: none;
    background-image: url('../images/challenge_background.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
}

div#wrapper div#browse-block-body{
    background-image: url('../images/browse_background.png');
}

div#wrapper div.ui-block-body div.form-wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}
div#wrapper div#browse-block-body div.form-wrapper{ width: 80%; }
div#wrapper div.ui-block-body div.form-wrapper form > div{ padding: 15px; }

div#wrapper div#browse-block-body div.form-wrapper div.form-group{ display: inline-block; width: 50%;}
div#wrapper div#browse-block-body div.form-wrapper form input{ display: inline; }
div#wrapper div#browse-block-body div.form-wrapper form div.btn-group{ vertical-align: top; padding-top: 15px;}
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: url('../images/challenges_search_bg.png') repeat;
    border-radius: 20px;
    padding: 15px;
}

div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table{ width: 100%; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table th{ text-align: center; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td{ padding: 5px; text-align: left; }
div#wrapper div#browse-block-body div.form-wrapper div.challenge-search-results table td img{ margin-right: 10px; }
.palette-nephritis:hover{ background-color: #2ECC71; }
.palette-belize-hole:hover{ background-color: #3498DB; }
.palette-pumpkin:hover{ background-color: #E67E22;}
.palette-midnight-blue:hover{ background-color: #34495E;}