@(firstName: java.lang.String, username: java.lang.String, profilePicUrl: java.lang.String, points: java.lang.Integer,
        challenges: java.util.List[domain.Challenge], unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification])

@main("Welcome to Challenge Application") {
    @menu(firstName, profilePicUrl, points, unreadNotificationsNr, newestNotifications)
    <div id="wrapper">
        <div id="browse-block-body" class="ui-block-body">
        @browse_content(challenges, username)
        </div>
    </div>

}