<div id="challenge-block">
<div class="top-block"><button class="btn btn-inverse backAction">Back</button></div>
    <h2>Publish a new challenge</h2>
    <div class="form-wrapper">
    <form>
        <div>
            <input type="text" placeholder="Enter something" class="form-control input-hg"/>
        </div>
        <div>
            <select>
                <option value="0">Some option</option>
                <option value="1">Other option</option>
            </select>
        </div>
        <div>
            <button class="btn btn-hg btn-primary">
                START!
            </button>
        </div>
    </form>
    </div>
</div>