@(challengeForm: Form[controllers.CreateChallengeForm])
<div id="challenge-block-body" class="ui-block-body">
    <div class="top-block"><button class="btn btn-inverse backAction">Back</button></div>
    <h2>Publish a new challenge</h2>
    <div class="form-wrapper">
        @helper.form(action = routes.Application.createChallenge(), 'method -> "POST", 'enctype ->"multipart/form-data") {
            <span class="challenge-name-wrapper">
            @helper.inputText(challengeForm("challengeName"), 'placeholder -> "Name your challenge...", 'class -> "form-control input-hg challenge-name-input", '_label -> "", '_showConstraints -> false)
            </span>
            <span>
                <select name="challengeCategory">
                    <option value="@domain.ChallengeCategory.FOOD">Food related</option>
                    <option value="@domain.ChallengeCategory.FREAK_MODE">Freak mode</option>
                    <option value="@domain.ChallengeCategory.GETTING_INVOLVED">Getting involved</option>
                    <option value="@domain.ChallengeCategory.STAYING_ACTIVE">Staying active</option>
                    <option value="@domain.ChallengeCategory.USING_A_BRAIN">Using a brain</option>
                    <option value="@domain.ChallengeCategory.OTHER">Other</option>
                </select>
            </span>
            <div id="video-upload-wrapper">
                <div id="video-input-wrapper"><button id="upload-video-action" type="button" class="btn btn-warning btn-hg">Upload a video description...</button></div>
                <input name="video-description" type="file" accept="video/*"/>
                <div id="video-screenshot"></div>
            </div>
            <div>
                <input type="submit" class="btn btn-hg btn-primary" />
            </div>
        }
    </div>
</div>