@(firstName: java.lang.String, profilePicUrl: java.lang.String, unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification])

<div id="menu-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">Challenger</a>
        </div>

        <div class="form-group quick-challenge-search">
            <div class="input-group input-group-hg input-group-rounded">
                <input type="text" placeholder="Search" class="form-control input-lg challenge-search-phrase"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn quick-search-action">
                        <span class="fui-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        Notifications
                        <!-- Indicator with number -->
                        @if(unreadNotificationsNr != 0) { <span class="navbar-new">@unreadNotificationsNr</span> }
                    </a>
                    <ul class="dropdown-menu notification-dropdown-menu">
                    @newestNotifications.map { notification =>
                        @single_menu_notification(notification)
                    }
                        <li class="more-elements"><a href="@routes.Application.showMyNotifications()">see all</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        @firstName
                        @if(profilePicUrl != null) {
                            <img class="smallProfilePicture" src="@profilePicUrl"/>
                        } else {
                            <img src="@routes.Assets.at("images/avatar_small.png")"/>
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.Application.showMyChallenges()">My Challenges</a></li>
                        <li><a href="@routes.Application.showMyParticipations()">My Participations</a></li>
                        <li><a href="@routes.Application.showCurrentProfile()">Profile</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>