@(firstName: java.lang.String, bigProfilePicUrl: java.lang.String, points: java.lang.Integer, challenges: java.util.List[repositories.dtos.ChallengeWithParticipantsNr], latestParticipations: java.util.List[repositories.dtos.ChallengeWithParticipantsNr],
        responseForm: Form[CreateChallengeResponseForm],unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification], newestUnreadNotifications: java.util.List[domain.Notification],
        challengesNr: Long)

@main("Welcome to Challenge Application") {
    @menu(firstName, bigProfilePicUrl, points, unreadNotificationsNr, newestNotifications)
    <div id="wrapper" class="account-wrapper">
        <div class="single-body-block" id="my-challenges-body">
            <div id="content-wrapper">
                @challenges_content(bigProfilePicUrl, challenges, challengesNr)
            </div>
            @glyphs_panel(challenges, latestParticipations, newestUnreadNotifications: java.util.List[domain.Notification])
        </div>
    </div>

}