@(firstName: java.lang.String, profilePicUrl: java.lang.String, points: java.lang.Integer, unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification]
        , challengeForm: Form[controllers.CreateChallengeForm], accessToken: java.lang.String, userId: java.lang.String)
    @main("Welcome to Challenge Application") {
        @menu(firstName, profilePicUrl, points, unreadNotificationsNr, newestNotifications)
        <div id="wrapper" class="account-wrapper">
            <div id="challenge-block-body" class="ui-block-body">
            @new_challenge_content(challengeForm, accessToken, userId)
            </div>
        </div>

    }