@(firstName: java.lang.String, bigProfilePicUrl: java.lang.String, points: java.lang.Integer, notifications: java.util.List[domain.Notification], challenges: java.util.List[repositories.dtos.ChallengeWithParticipantsNr],
            latestParticipations: java.util.List[repositories.dtos.ChallengeWithParticipantsNr], unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification], notificationsNr: java.lang.Long)

@main("Welcome to Challenge Application") {
    @menu(firstName, bigProfilePicUrl, points, unreadNotificationsNr, newestNotifications)
    <div id="wrapper" class="video-block-wrapper">
        <div class="single-body-block" id="challenge-body">
            <div id="content-wrapper">
                <div id="challenge-wrapper" class="account-content">
                    <div class="padded-glyphs-wrapper">
                        <div class="padded-glyphs-top-panel"><span><a href="@routes.Application.index()" class="back-action real-back-action">
                            <button class="btn btn-inverse backAction">Back</button>
                        </a></span><span class="padded-glyph-header">My notifications</span>
                        </div>
                        <div class="padded-glyph-challenge-data-wrapper">
                            <div class="common-table-wrapper user-notification-wrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th><div class="notification-date-header">Received</div></th>
                                            <th><div>Message</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @notifications_list(notifications)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if(notifications.size() < notificationsNr) {
                        <div class="show-more-wrapper"><button class="btn btn-default show-more-notifications">show more</button></div>
                        <input type="hidden" class="current-offset" value="1"/>
                        <input type="hidden" id="notifications-number" value="@notificationsNr"/>
                        <input type="hidden" id="current-notifications-number" value="@notifications.size()"/>
                    }
                </div>
            </div>
            @glyphs_panel(challenges, latestParticipations, notifications)
        </div>
    </div>
}