@(bigProfilePicUrl: java.lang.String, participations: java.util.List[Array[Object]], participationsNr: Long)

<div id="participations-wrapper" class="account-content">
    <div class="padded-glyphs-wrapper">
        <div class="padded-glyphs-top-panel"><span><a class="show-profile" href="#"><img class="smallProfilePicture" src="@bigProfilePicUrl"/></a></span><span class="padded-glyph-header">My Participations</span></div>
        <div class="padded-glyph-challenges-wrapper">
        @if(!participations.isEmpty) {
            @participations_list(participations)
            @if(participations.size() < participationsNr) {
                <div class="show-more-wrapper"><button class="btn btn-default show-more-participations">show more</button></div>
                <input type="hidden" class="current-offset" value="1"/>
                <input type="hidden" id="participations-number" value="@participationsNr"/>
                <input type="hidden" id="current-participations-number" value="@participations.size()"/>
            }
        }else {
            <div class="no-elements-wrapper"><a href="@routes.Application.showBrowseChallenges()">Join a challenge!</a></div>
        }
        </div>
    </div>
</div>