@(bigProfilePicUrl: java.lang.String, participations: java.util.List[Array[Object]])

<div id="participations-wrapper" class="account-content">
    <div class="padded-glyphs-wrapper">
        <div class="padded-glyphs-top-panel"><span><a class="show-profile" href="#"><img class="smallProfilePicture" src="@bigProfilePicUrl"/></a></span><span class="padded-glyph-header">My Participations</span></div>
        <div class="padded-glyph-challenges-wrapper">
        @if(!participations.isEmpty) {
            @participations.map { participation =>
                <div class="padded-glyph-challenge">
                    <span><a href="@routes.Application.showParticipators(participation.apply(3).asInstanceOf[Long]).toString)"><img title="@participation.apply(2) participants" alt="@participation.apply(2) participants" src="@routes.Assets.at("images/speedometer/speedometer_1_medium.png")"/></a></span>
                    <span class="padded-glyph-list-name"><a class="show-challenge-events" href="@routes.Application.showChallenge(participation.apply(3).asInstanceOf[Long])">@participation.apply(0)</a></span>
                    <span class="padded-glyph-time-left"><img src="@routes.Assets.at("images/clock_small.png")"/>time left</span>
                </div>
            }
        </div>
        }else{
        <div class="no-elements-wrapper"><a href="#">Join a challenge!</a></div>
    }
    </div>
</div>