@(firstName: java.lang.String, bigProfilePicUrl: java.lang.String, points: java.lang.Integer, participations: java.util.List[Array[Object]], participationsSummary: java.util.List[repositories.dtos.ChallengeWithParticipantsNr], latestChallenges: java.util.List[repositories.dtos.ChallengeWithParticipantsNr],
        responseForm: Form[CreateChallengeResponseForm],unreadNotificationsNr: Long, newestNotifications: java.util.List[domain.Notification], newestUnreadNotifications: java.util.List[domain.Notification],
        participationsNr: Long)

@main("Welcome to Challenge Application") {
    @menu(firstName, bigProfilePicUrl, points, unreadNotificationsNr, newestNotifications)
    <div id="wrapper" class="account-wrapper">
        <div class="single-body-block" id="participations-body">
            <div id="content-wrapper">
            @participations_content(bigProfilePicUrl, participations, participationsNr)
            </div>
            @glyphs_panel(latestChallenges, participationsSummary, newestUnreadNotifications: java.util.List[domain.Notification])
        </div>
    </div>

}