@()

@main("Welcome to Challenge Application") {
  <div id="wrapper">
      <div id="policy-content-wrapper">
        <h1>Privacy Policy</h1>
        <h3>1.Data usage</h3>
        <p>Application is using essential data like user name and facebook profile photo. In addition to that, it uses
        user videos that were uploaded through the application. No other videos are or will ever be used.</p>
        <h3>2.Displaying and sharing</h3>
        <p>Application will publicly display facebook data that is already publicly available on facebook.
          Video descriptions added to private challenges will be available only for uploading user's friends.
          This can be changed at any moment by uploader on his facebook account.
          <br/><br/>
        Application provides a possibility for writing comments, creating challenges and other activities. Those activities are essentialy
        public with the exception of private challenges which are only available for a group of creating user's friends.</p>
        <h3>3.Storing data</h3>
        <p>Data that is publicly available on facebook is stored. Videos uploaded through the application are not stored since
        they are kept on user's facebook account. Comments, ratings and other kind of data, created through the application, is stored in
        the app databases.</p>
        <h3>4.Publishing videos</h3>
        <p>Videos are being published directly to facebook. They can be modified or deleted at any time through the facebook account.
        </p>
    </div>
  </div>

}