@(firstName: java.lang.String, lastName: java.lang.String, bigProfilePicUrl: java.lang.String, joined: java.lang.String,
        created: Long, completed: Long)

@main("Welcome to Challenge Application") {
    @menu(firstName, bigProfilePicUrl)
    <div id="wrapper" class="account-wrapper">
        <div class="ui-block-body" id="profile-body">
            <div class="top-block"><a href="/"><button class="btn btn-inverse">Back</button></a></div>
            <div id="profile-wrapper">
                <h2>Profile</h2>
                <div id="profile-data"><img src="@bigProfilePicUrl"/> @firstName @lastName</div>
                <div id="profile-stats">
                    <ul>
                        <li>Joined : @joined</li>
                        <li>Challenges created : @created</li>
                        <li>Challenges completed : @completed </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}