@(name: java.lang.String, bigProfilePicUrl: java.lang.String, createdChallengesNr: Long, joinedChallengesNr: Long, completedChallengesNr: Long, points: java.lang.Integer)

<div id="profile-wrapper" class="account-content">
    <div class="top-block"><a class="backAction" href="@routes.Application.index()"><button class="btn btn-inverse">Back</button></a></div>
    <div id="profile-picture">
        @if(bigProfilePicUrl != null) {
            <img src="@bigProfilePicUrl"/>
        } else {
            <img src="@routes.Assets.at("images/avatar_big.png")"/>
        }
    </div>
    <div id="profile-data">
        <ul>
            <li>@name</li>
            <li class="profile-points-wrapper"><img src="@routes.Assets.at("images/trophy_small.png")"/>@points points</li>
            <li></li>
        </ul>
    </div>
    <div id="profile-stats">
        <div class="stats-glyph"><div><img src="@routes.Assets.at("images/glyph_sandcastle.png")"/></div><div>Created : @createdChallengesNr</div></div>
        <div class="stats-glyph"><div><img src="@routes.Assets.at("images/glyph_sandals.png")"/></div><div>Joined : @joinedChallengesNr</div></div>
        <div class="stats-glyph"><div><img src="@routes.Assets.at("images/glyph_glasses.png")"/></div><div>Completed : @completedChallengesNr</div></div>
    </div>
</div>