@(responseForm: Form[CreateChallengeResponseForm], challengeId: Long, visibility: Boolean, participantsString: java.lang.String, accessToken: java.lang.String, userId: java.lang.String)

<div id="send-response-wrapper" style="display: none">
    <div class="upper-div"><div class="title-div"><h4>Respond to the challenge</h4></div>
        <div class="close-window-upper-div"><a class="close-window" href="#"><img src="@routes.Assets.at("images/close.png")"/></a></div>
    </div>
    <div class="form-wrapper">
    @helper.form(action = routes.Application.ajaxSubmitChallengeResponse(), 'method -> "POST", 'enctype -> "multipart/form-data", 'id -> "upload-response-form") {
        <div class="challenge-name-wrapper">
        @helper.inputText(responseForm("message"), 'placeholder -> "Care to attach a message ?", 'class -> "form-control input-hg challenge-name-input", '_label -> "", '_showConstraints -> false)
        </div>
        <input type="hidden" name="challengeId" id="response-challenge-id" value="@challengeId" />
        <input type="hidden" name="videoId" id="response-video-id" value="" />
    }
    <form id="upload-video-response-form" method="POST" enctype="multipart/form-data"
        action="https://graph-video.facebook.com/@userId/videos?access_token=@accessToken">

        <div id="video-upload-wrapper">
            <div id="upload-response-wrapper"><button id="upload-video-action" type="button" class="btn btn-warning btn-hg">
                Upload a video response...</button></div>
            <input name="video-description" type="file" accept="video/*"/>
        </div>
        <div>
            <input type="button" id="create-response-action" class="btn btn-hg btn-primary" value="Respond!" />
        </div>
        @if(visibility){
            <input type="hidden" name="privacy" value='{"value":"EVERYONE"}'/>
        }else{
            <input type="hidden" name="privacy" value="{'value': 'CUSTOM', 'friends': 'SOME_FRIENDS', 'allow': '@participantsString'}"/>
        }
        <input type="hidden" name="description" value=""/>
    </form>
    </div>
</div>